body {
    background-color: #FCFDF8;
}

/*padding page login dan register*/
.pad {
    padding: 20px;
}
/*container login sama register*/
.cloginter {
    background-color: #393D6E;
    border-radius: 30px;
}

.text1 {
    color: white;
}

#navbar {
    background-color: #393D6E;
}

#addtugas {
    background-color: #393D6E;
    position: relative;
    width: 100%;

}
#navg {
    background-color: #FCFDF8;
    color: #393D6E;
}
